html {
  @include box-size();
  font-size: $desktop-base-font-size;
  scroll-behavior: smooth;
}

body {
  align-items: center;
  background-color: $color-white;
  background: url("https://res.cloudinary.com/dci1eujqw/image/upload/v1616769558/Codepen/waldemar-brandt-aThdSdgx0YM-unsplash_cnq4sb.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: grid;
  height: 100vh;
  place-items: center;
}

h1,
h2 {
  color: $color-gray;
  text-align: left;
  margin: 1rem 0 1rem 0;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}

a {
  position: relative;
  display: inline-block;
  line-height: $link-line-height;
  color: $color-gray;
  text-decoration: none;
  text-shadow: none;
  transition: color 0.4s ease;

  &::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    display: block;
    @include box-size(100%, 20px);
    max-width: 0;
    border-bottom: 1px solid $color-gray;
    overflow: hidden;
    transition: max-width 0.4s ease;
  }

  &:hover {
    opacity: 0.7;
    &::before {
      max-width: 100%;
    }
  }
}
